{% extends 'user/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="container mt-4">

    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title">Personal details</h5>
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="font-weight-bold">Name:</span> {{account.user.username}}</li>
                <li class="list-group-item">Email: {{ account.user.email }}</li>
                <li class="list-group-item">Phone: {{ account.phone }}</li>
                <li class="list-group-item">Date of Birth: {{ account.dob }}</li>
            </ul>
        <div class="card-body">
            <a href="{% url 'update_personal_details' %}" class="card-link">Change details</a>
            <a href="{% url 'profile' account.user.id %}" class="card-link">Go to profile</a>
        </div>
    </div>

</div>

{% endblock %}

