{% extends 'user/base.html' %}
{% block title %} Profile {% endblock title %}

{% block content %}

<div class="container mt-4">


    <div class="card" style="width: 22rem; margin: auto;">
        <div class="card-body">
            
            {% if profile.image %}
                <img src="/media/{{ profile.image }}" alt="" width="300" height="350" style="border-radius: 40%;">
            {% else %}
                <img src="/static/img/avatar.jpg" alt="" width="300" height="350" style="border-radius: 50%;">
            {% endif %}
            
            <a href="{% url 'upload_image' %}">
                <p class="text-primary" style="float: right; cursor: pointer;">Edit image</p>
            </a>
            
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="font-weight-bold">Name:</span> {{student.user.username}}</li>
                <li class="list-group-item">Email: {{student.user.email}}</li>
                <li class="list-group-item">Phone: {{student.phone}}</li>
                <li class="list-group-item">Age: {{age}}</li>
            </ul>
        <div class="card-body">
            <a href="{% url 'dashboard' %}" class="card-link">Back to dashboard</a>
        </div>
    </div>
</div>

{% endblock %}

