{% extends 'user/base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}

<div class="container mt-4">


    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <img src="/static/img/avatar.jpg" alt="" width="300" height="350">
            <p class="text-primary" onclick="editImge()" style="float: right; cursor: pointer;">Edit image</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.user }}
                {{ form.image }}
                <input type="file" id="fileinput"  hidden="true" name="image" onchange="submitImage()" accept="image/*">
                <button id="submtbtn" hidden="true">submit</button>
            </form>
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="font-weight-bold">Name:</span> {{account.user.username}}</li>
                <li class="list-group-item">Email: {{account.user.email}}</li>
                <li class="list-group-item">Phone: {{account.phone}}</li>
                <li class="list-group-item">Age: {{age}}</li>
            </ul>
        <div class="card-body">
            <a href="{% url 'dashboard' %}" class="card-link">Back to dashboard</a>
        </div>
    </div>
</div>

<script>
    let userSelectInput = document.getElementById('id_user').style.display = "none";
    let imageInput = document.getElementById('id_image').style.display = "none";
    function editImge(){
        let fileInput = document.getElementById('fileinput').click();
        userSelectInput.value = 1
        imageInput.value = fileInput.value
    }
    function submitImage(){
        let fileInput = document.getElementById('submtbtn').click();
    }
</script>

{% endblock %}

